@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#login {
    background: #E5E5E5;
    align-items: center;
    justify-content: center;
    height: 473px;
    display: flex;
}

#form-login h2 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.2rem;
    font-weight: 700;
}

.senha, .email, .submit {
    margin-bottom: 2em;
}

#senha, #email, #submit {
    width: 423px;
    height: 63px;
    border: none;
    outline: none;
    border-radius: 4px;
}

#senha, #email {
    border-bottom: 3px solid #C8C8C8;
    padding: 0 15px;
}

#submit {
    Padding: 12px 16px 12px 16px;
    background: #2A7AE4;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}

