@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}



#todos-produtos {
    background: #E5E5E5;
    display: block;

}

.titulo--btn {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

#btn-add-produto {
    margin-top: 5em;
}

.titulo--btn h2 {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-top: 3em;
}

#btn-add-produto {
    width: 130px;
    height:45px;
    background: #2A7AE4;
    color: #FFFFFF;
    border: none;
    outline: none;
}

#btn-add-produto a {
    color: #FFFFFF;
}

.bloco-1 {
    width: 80%;
    display: block;
    margin: auto;
}

.bloco-1 ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.bloco-1 li {
    display: inline-block;
}

.bloco-2 {
    width: 80%;
    display: block;
    margin: auto;
}

.bloco-2 ul {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

.bloco-2 li {
    display: inline-block;
}

.bloco-3 {
    width: 80%;
    display: block;
    margin: auto;
}

.bloco-3 ul {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

.bloco-3 li {
    display: inline-block;
    margin-bottom: 5em;
}

.bloco-1 li img, .bloco-2 li img,
.bloco-3 li img {
    width: 166px;
    height: 164px;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px rgba(91, 91, 91, 0.5);
    margin-bottom: .5em;
}

#todos-produtos ul li img:hover {
    transform: scale(1.1, 1.1);
}